# Configuration file

~CONFIG_VERSION: rv6-stable-7

counters {
    I:lastGridStorage=0
    I:lastPlayer=1
}


orderedvalues {
    I:presses=7
}


players {
    I:0e539e89-39e9-37ea-accf-8017228744d6=0
}


